.choresText {
   color: darkblue;
   font: roboto;
   font-size: 22px;
   font-style: italic;
}

.choresHeading {
   color: black;
   font: roboto;
   text-decoration: underline;
   font-size: 28px;
}