.choresText {
   color: darkblue;
   font: roboto;
   font-size: 22px;
   font-style: italic;
   text-align: left;
   padding-left: 10px;
}

.choresHeading {
   color: black;
   font: roboto;
   text-decoration: underline;
   font-size: 28px;
   text-align: left;
   padding-left: 10px;
}
